/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	background: #fafafa;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: #252b42;
	font-weight: 500;
	font-family: Montserrat;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*Конец обнуления*/
/*--------------------------------------------------------------*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/*--------------------------------------------------------------*/
._container {
	max-width: 1046px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/*-------------------------header-------------------------------*/
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}

@media (max-width: 479px) {
	.header__container {
		min-height: 70px;
	}
}

.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: inherit;
}
.header__menu {
	margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) {
	.header__menu {
		margin: 0px 0px 0px 80px;
	}
}
@media (max-width: 767px) {
	.header__menu {
		margin: 0px 0px 0px 40px;
	}
}

@media (max-width: 479px) {
	.header__menu {
		margin: 0px 0px 0px 20px;
	}
}

.menu {
	padding: 0px 5px;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item {
}
.menu__item:not(:last-child) {
	margin: 0px 21px 0px 0px;
}

.menu__link {
	color: #737373;
	line-height: 171%;
	font-weight: 600;
}

@media (max-width: 479px) {
	.menu__link {
		font-size: 18px;
	}
}
/*----------------page--------------*/
.page {
	flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
	position: relative;
	z-index: 2;
	margin: -111px 0px 0px 0px;
}

.page__advantages {
}
/*----------------header-block--------------*/
.header-block {
	text-align: center;
	letter-spacing: 0.2px;
}

.header-block__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 142%;
}
.header-block__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}

.header-block_sub__title {
	color: #737373;
	line-height: 142%;
}

@media (max-width: 992px){
	.header-block__title {
		font-size: 35px;
	}
}
@media (max-width: 767px){
	.header-block__title {
		font-size: 30px;
	}
}
/*----------------Footer--------------*/
.footer {
}

/*----------------main-block--------------*/
.main-block {
	position: relative;
}
.main-block__container {
}
._container {
}
.main-block__body {
	padding: 184px 0px 191px 0px;
	position: relative;
	z-index: 2;
	max-width: 400px;
}

@media (max-width: 992px) {
	.main-block__body {
		padding: 120px 0px 191px 0px;
	}
}
@media (max-width: 479px) {
	.main-block__body {
		padding: 115px 0px 160px 0px;
	}
}

.main-block__body > *:not(:last-child) {
	margin: 0px 0px 35px 0px;
}

.main-block__title {
	font-size: 58px;
	line-height: 137%;
	font-weight: 800;
	letter-spacing: 0.2px;
}

@media (max-width: 479px) {
	.main-block__title {
		font-size: 42px;
	}
}

.main-block__text {
	color: #737373;
	font-size: 20px;
	line-height: 150%;
}

@media (max-width: 479px) {
	.main-block__text {
		color: #4f4f4f;
	}
}

.main-block__buttons {
	display: flex;
	flex-wrap: wrap;
	margin: -10px 0;
}
.main-block__button {
	border-radius: 37px;
	min-height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.2px;
	padding: 5px 36px;
	font-weight: 700;
	line-height: 150%;
	text-align: center;
	margin: 10px 0;
}

@media (max-width: 479px) {
	.main-block__button {
		flex: 1 1 100%;
	}
}

@media (min-width: 479px) {
	.main-block__button:not(:last-child) {
		margin-right: 10px;
	}
}

.main-block__button_orange {
	background: #ff7b47;
	color: #fff;
}

.main-block__button_border {
	color: #0d5c63;
	border: 1px solid #0d5c63;
}

.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@media (max-width: 1300px) {
	.main-block__image img {
		object-position: right;
	}
}
@media (max-width: 992px) {
	.main-block__image {
		opacity: 0.5;
	}
}

/*----------------section--------------*/

.services {
}
.services__container {
}
.services__body {
}
@media (min-width: 670px) {
	.services__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px -30px;
	}
}
.services__column {
	flex: 0 1 33.333%;
	margin: 0px 0px 30px 0px;
}

@media (min-width: 670px) {
	.services__column {
		padding: 0px 15px;
	}
}

@media (max-width: 992px) {
	.services__column {
		flex: 0 1 50%;
		margin: 0px 0px 30px 0px;
	}
	.services__column:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}
	.services__column:last-child {
		flex: 1 1 100%;
	}
}
.services__item {
	height: 100%;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	background-color: #fff;
	padding: 35px;
}
@media (max-width: 479px) {
	.services__item {
		padding: 25px;
	}
}
.item-service {
}
.item-service_green {
	background-color: #0d5c63;
}
.item-service_green .item-service_title {
	color: #fff;
}
.item-service_green .item-service__text {
	color: #fff;
}
.item-service > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.item-service__icon {
}
.item-service_title {
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 0.1px;
	line-height: 133%;
}
.item-service__text {
	color: #737373;
	line-height: 142%;
}

/*----------------advantages------------------------------*/
.advantages {
	padding: 80px 0;
}

@media (max-width: 992px){
	.advantages {
		padding: 50px 0;
	}
}
@media (max-width: 767px){
	.advantages {
		padding: 30px 0;
	}
}

.advantages__container {
}

.advantages__header {
	margin: 0px 0px 50px 0px;
}
@media (max-width: 767px){
	.advantages__header {
		margin: 0px 0px 25px 0px;
	}
}

.advatages__body {
	flex-wrap: wrap;
	display: flex;
	margin: 0px -15px -30px;
}
.advatages__column {
	padding: 0xp 15px;
	margin: 0px 0px 30px 0px;
	flex: 0 1 25%;
}

@media (max-width: 1020px) {
	.advatages__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 560px) {
	.advatages__column {
		flex: 0 1 100%;
	}
}

.advatages__item {
	background-color: #fff;
	padding: 30px;
	text-align: center;
	font-weight: 700;
}
.advatages__item * > :not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.advatages__icon {
	height: 48px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.advatages__value {
	font-size: 40px;
	line-height: 142%;
}
.advatages__text {
	letter-spacing: 0.1px;
	color: #737373;
	font-size: 16px;
	line-height: 150%;
}
